<!-- Describe task in general -->

<p>
    确定两个正整数相除的余数。 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}find-reminder.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入</strong>两个整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>输入：除数（被除数）和除数（除数）。
</p>

<p>
   <strong>输出： 整数</strong>整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>示例</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>如何使用：</strong>
    <i>余数计算在算法中很常见，尤其是在模数运算中，而模数运算经常用于密码学和计算机图形学中。</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>前提条件</strong>
    <ul>
    <li><i>红利，除数 &gt; 0。</i></li>
    </ul>
</p>
